body {
    background-color:white;
    color: rgb(0, 0, 0);
}
hr {
    background-color: darkblue;
    height: 1px;
    border: none;
}
h3 {
    margin-top: 6%;
}
div {
    margin-left: 2%;
    margin-bottom: 2em;
}
ul {
    list-style-type: '-  ';
    font-size: medium;
}
li {
    margin-bottom: 5px;
}
p {
    margin-left: 2%;
    margin-bottom: 2em;
}
.week {
    border-bottom: 2px solid black;
}